common --enable_bzlmod ## enable bzlmod for all commands
build --sandbox_debug ## enable debug info for build command
build --compilation_mode=fastbuild ## fastbuild -> with debug info, not optimized, opt -> no debug info, optimized, dbg -> debug run
test --test_output=errors ## errors -> show only errors, all -> show all outputs, summary -> show summary
common --@aspect_rules_ts//ts:skipLibCheck=honor_tsconfig
common --@aspect_rules_ts//ts:default_to_tsc_transpiler