http {
    interface = "0.0.0.0"
    port = 8080
}

demo1-db {
    profile = "slick.jdbc.PostgresProfile$" # references singleton$
    db { # for Hicari Connection Pool
        driver = "org.postgresql.Driver" #jdbc driver / java database connectivity
        url = "jdbc:postgresql://localhost:5432/demo1"
        user = "demo1_user"
        password = "*******"
        numThreads = 10
        maxConnections = 10 # for dev env
    }
}

redis {
    host = "localhost"
    port = 6379
}