app = "tsumiki-api"
primary_region = "lax"
swap_size_mb = 512

[env]
  JAVA_OPTS = "-Xmx128m" # 256MB RAM machine
  DB_JDBC_URL = "jdbc:postgresql://tsumiki-psql.internal:5432/tsumiki?stringtype=unspecified"
  DB_USER = "tsumiki_user"

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = false
  auto_start_machines = true

[[http_service.checks]]
  path = "/health"
  interval = "10s"
  timeout = "2s"